<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RedirectBlogArticles" stopProcessing="true">
                    <match url="([^/]*)/?$" />
                    <conditions>
                    </conditions>
                    <action type="Redirect" url="https://virtocommerce-public-staging.azurewebsites.net/blogs/news/{R:1}" appendQueryString="false" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
